@font-face {
  font-family: 'Helvetica Neue Cyr Light';
  src: url('../font/HelveticaNeueCyr/HelveticaNeueCyr-Light.eot');
  src: url('../font/HelveticaNeueCyr/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
  url('../font/HelveticaNeueCyr/HelveticaNeueCyr-Light.woff') format('woff'),
  url('../font/HelveticaNeueCyr/HelveticaNeueCyr-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }




@font-face {
    font-family: 'Open Sans Regular';
    src: url('../font/OpenSans/OpenSans-Regular.eot');
    src: url('../font/OpenSans/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('../font/OpenSans/OpenSans-Regular.woff') format('woff'),
    url('../font/OpenSans/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Proxima Nova Bold';
    src: url('../font/ProximaNova-Bold/ProximaNova-Bold.eot');
    src: url('../font/ProximaNova-Bold/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
    url('../font/ProximaNova-Bold/ProximaNova-Bold.woff') format('woff'),
    url('../font/ProximaNova-Bold/ProximaNova-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Proxima Nova Regular';
    src: url('../font/ProximaNova-Regular/ProximaNova-Regular.eot');
    src: url('../font/ProximaNova-Regular/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
      url('../font/ProximaNova-Regular/ProximaNova-Regular.woff') format('woff'),
      url('../font/ProximaNova-Regular/ProximaNova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }